
				<div id="galerii">
					<?php
					if (isset($vead)) {
							if (!empty($vead)) {
								foreach($vead as $viga) {
									?> <p id="veateade"> <?php
									echo "$viga";
									?> </p> <?php	
								}
							}
						}
					if (isset ($pildid)) {
						foreach($pildid as $picture) { ?>
								<a href= <?php echo $picture['pilt']; ?>><img src= <?php echo $picture['thumb']; ?>  alt= <?php echo $picture['pealkiri']; ?>/></a> 
							<?php
						};
				 }
					?>

				</div>
			</div>	
			<div id="hoidja" style="display:none;">
 				 <div id="taust"></div>
 				 	<div id="tabel">
 				   		<div id="cell">
     				 		<div id="sulge" onclick="hideDetails();">Sulge</div>
     						 <div id="kuva">
       				 				<img id="suurpilt" src="big/reflection.jpg" alt="ajutine"/><br/>
     				   				<span id="inf"></span>
    				  		 </div>
   					 	</div>
 				 </div>

			
