
		
				<h3>Logi sisse!</h3>
				<?php
					if (isset($vead)) {
							if (!empty($vead)) {
								foreach($vead as $viga) {
									?> <p id="veateade"> <?php
									echo "$viga";
									?> </p> <?php	
								}
							}
					}
				?>
				<form action="?mode=login" method="post">
					<table>
						<tr>
							<td><label for="user">Kasutajanimi: </label></td>
							<td><input type="text" id="user" name="username" placeholder="username" 
							<?php
								if (isset($_POST['username'])) {
									?>
									value=<?php echo htmlspecialchars($_POST["username"]);
								}
								?>
							>
								</td>
						</tr>
						<tr>
							<td><label for="pass">Parool: </label></td>
							<td><input type="password" id="pass" name="password" placeholder="password"/></td>
						</tr>
					</table>
				<input type="submit" value="Logi sisse!"/><br>
				</form>
